{% extends "base.html" %}
{% load static %}
 <title>{% block title %} Change Password {%endblock%}</title>

 {% block content %}
 <div class="row g-4">
   <div class="col-lg-8">
      <div class="card shadow-sm border-0">
         <div class="card-body">
               <h3 class="mb-3"><i class="fa-solid fa-user-key"></i>Change Password</h3>

               <form method="post" id="pwdForm">
                  {% csrf_token %}  
                   
                     <div class="mb-3">
                        <label class="form-label">Current Password</label>
                        <div class="input-group">
                           <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                           <input  type="password" name="current_password" id="curPwd" class="form-control" placeholder="******"/>
                           <button class="btn btn-outline-secondary" type="button" id="toggleCur" title="Show/Hide">
                              <i class="fa-regular fa-eye"></i>

                           </button>

                        </div>

                     </div>


                   <div class="mb-3">
                        <label class="form-label">New Password</label>
                        <div class="input-group">
                           <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
                           <input  type="password" name="new_password" id="newPwd" class="form-control" placeholder="******"/>
                           <button class="btn btn-outline-secondary" type="button" id="toggleNew" title="Show/Hide">
                              <i class="fa-regular fa-eye"></i>

                           </button>

                        </div>

                     </div>

                     <div class="mb-3">
                        <label class="form-label">Confirm New Password</label>
                        <div class="input-group">
                           <span class="input-group-text"><i class="fa-solid fa-shield"></i></span>
                           <input  type="password" name="confirm_password" id="newPwd1" class="form-control" placeholder="******"/>
                           <button class="btn btn-outline-secondary" type="button" id="toggleNew2" title="Show/Hide">
                              <i class="fa-regular fa-eye"></i>

                           </button>

                        </div>

                     </div>




                     

                  

                  <button class="btn btn-success mt-3 w-100" type="submit" id="signupBtn">
                     <i class="fa-solid  fa-rotate"></i><span>Update Password</span>

                  </button>
               </form>
               
         </div>

      </div>

   </div>

   
   
 </div>

 
 {% endblock %}